html { 
  font-family: 'Open Sans';
}

/*splash and login pages*/

.dimmer-background {
	background-image: url(../images/blurry-backdrop.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.splash {
	background-image: url(../images/running-backdrop.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#splash-container {
	text-align: center;
	z-index: -1;
}

#spotify-login-button {
	margin: 15px 40%;
	display: block;
	border-radius: 2em;
	background-color: transparent;
	color: white;
	border: 1px solid white;
	padding: 1em 3em;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 100;
	cursor: pointer;
	text-decoration: none;
}

#green-text {
	color: #648f00;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.main-logo {
    max-width: 100%;
    margin-top: 5%;
}

#callout-link {
	text-decoration: underline;
	cursor: pointer;
	color: white;
	margin-top: 30px;
}


#about-callout {
	background-color: black;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: 100;
	font-size: .9em;
	padding: 15px 100px;
	margin: -25px 200px 20px 200px;
	z-index: 5;
	position: absolute;
	display: none;
}

#close-callout {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: white;
	cursor: pointer;
	float: right;
	margin-right: -85px;
	margin-top: -10px;
	font-size: 1em;
}

input[type="email"], input[type="password"] {
	border: 1px solid white;
	border-radius: 2em;
	padding: 10px 30px;
	display: block;
	margin: 15px auto;
	outline: none;
	background-color: transparent;
	color: white;
}

#splash-container input[type="submit"] {
	border-radius: 2em;
	background-color: black;
	color: white;
	cursor: pointer;
	padding: 10px;
	width: 190px;
	border: none;
	margin: 10px 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	outline: none;
}

/*main navigation*/
.main-nav {
	background-color: black;
	opacity: .7;
	padding: 0px;
}

/* Remove margins and padding from the list, and add a black background color */
ul.top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
ul.top-nav li {
	float: left;
	padding-top: 8px;
	padding-left: 2%;
}

.fa-li {
	padding-top: 8px;
	padding-left: 2%;
	position: static;
}

#avatar {
	float: right;
    margin-top: 5px;
    margin-bottom: -10px;
}
#avatar-img {
	height: 75%;
	width: 40px;
	border-radius: 50%;
	border: 1px solid white;
	margin: -7px 10px 10px 0;
}

/* Style the links inside the list items */
ul.top-nav li a {
    display: inline;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    color: white;
}

/* Change background color of links on hover */
ul.top-nav li a:hover {
	color: #00c2b2;
}

ul.top-nav li a.selected {
	color: #00c2b2;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.top-nav li.hamburger {
	display: none;
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
	ul.top-nav li:not(:last-child) {
  		display: none;
	}
	#avatar {
		display: none;
	}
	ul.top-nav li:first-child {
		display: inline-block;
	}
	ul.top-nav li.hamburger {
    	float: right;
    	display: inline-block;
    	padding: 15px 15px 0px 0px;
    	font-size: 1em;
  	}

  	/* media queries for main navigation*/
  	ul.top-nav.fa-ul.responsive {
  		position: relative;
	}
  	ul.top-nav.fa-ul.responsive li.hamburger {
    	position: absolute;
    	right: 0;
    	top: 0;
    	border-bottom: none;
	}
	#hamburger-button a{
		border-bottom: none;
		padding-bottom: 20px;
	}
  	ul.top-nav.fa-ul.responsive li {
   		float: none;
    	display: inline;
    	
	}
  	ul.top-nav.fa-ul.responsive li a {
    	display: block;
    	text-align: center;
    	padding-bottom: 20px;
    	border-bottom: 1px solid #4c4c4c;
  	}
  	ul.top-nav.fa-ul.responsive li:nth-child(2) a {
  		padding-top: 10px;
  		border-top: 1px solid #4c4c4c;
  		margin-top: 20px;
  	}
  	ul.top-nav.fa-ul.responsive li:first-child {
  		display: none;
  	}
  	ul.top-nav.fa-ul.responsive li:last-child {
  		display: none;
  	}

}


/*filters*/ 

.filter-nav {
	height: 550px;
	background-color: black;
	opacity: .7;
	margin: 15px 0 0 30px;
	display: block;
	position: fixed;
}

h3 {
	text-align: center;
	color: white;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}

.filter-header {
	font-family: "Roboto", sans-serif;
	margin: 0 0 10px 0;
	color: white;
	text-align: center;
	padding: 0;
	font-size: 1em;

}

#arrow {
	display: inline;
	cursor: pointer;
}

.dropdown {
    display: inline-block;
    color: black;
    opacity: 1;
    padding: 5px;
    margin: 5px 15% 10px 15%;
    background-color: white;
    border-radius: 2em;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    outline: none;
}
.dropdown:before {
	margin: auto;
    cursor: pointer;
}

.dropdown:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
}
.dropdown:focus .dropdown-content {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;
    margin-top: 5px;


    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}
.dropdown-content {
    position: absolute;
    z-index: 1;
    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
    height: 200px;
	overflow: auto;
	list-style-type: none;
	-webkit-padding-start: 0px;
    width: 89%;
    margin-left: 3%;
}

.dropdown-content li {
	width: 100%;
}

.dropdown-content li button {
	width: 100%;
	padding: 5px 30px;
	list-style: none;
	font-family: "Roboto", sans-serif;
    font-size: 1em;
    pointer-events: none;
}

.dropdown-content li:hover button {
	color: #00c2b2;
	cursor: pointer;
}

.dropdown div {
	text-align: center;
	width: 100%;
}

label {
	color: white;
	font-weight: 300;
	font-size: .8em;
}

input[type="checkbox"] {
	margin: 5px 10% 5px 25%;
}

.clear-all {
	background-color: #00c2b2;
	color: white;
	border-radius: 2em;
	width: 150px;
	margin: 5% 0 5% 13%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 300;
	font-size: 1em;
	outline: none;
	border: none;
	cursor: pointer;
}

#slider-filter {
	position: relative;
	margin: 10px 10% 10px 10%;
}

#slider-value {
	background-color: #4c4c4c;
	border: none;
	color: white;
	outline: none;
	border-radius: 0;
}

hr {
	width: 80%;
}

#filter-button {
	background-color: #00c2b2;
	border: none;
	border-radius: 2em;
	padding-top: 3%;
	padding-bottom: 3%;
	color: white;
	margin: 5% 0 5% 13%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	outline: none;
	cursor: pointer;
}

/*media queries for filters*/
@media screen and (max-width:680px) {
	.filter-nav {
		height: 600px;
	}

	label {
		padding-left: 10%;
	}

	input[type="checkbox"] {
		margin: 5px 5% 5px 29%;
	}
}


/*list of playlists displayed on homepage*/

#playlists-container {
	margin-top: 10px;
}


.background {
	width: 50%;
	height: 225px;
	background-size: contain;

}

.artwork-cover {
	width: 100%;
	height: 225px;
	background-color: black;
	opacity: .7;
	display: inline-block;
	margin: 0 !important;
}

.artwork-cover:hover {
	opacity: 1;
	cursor: pointer;
}

.playlist-info {
	z-index: 5;
	display: inline;
	color: white;
	text-align: center;
}


h4 {
	padding-top: 50px;
	font-weight: 400;
	margin-bottom: 10px;
}

h5 {
	font-weight: 300;
	margin: 5px 0 0 0;
}

/*slide reveal styling -- individual playlist display*/

.slider-mask {
	display: none;
}

.slider-class {
	background-color: black;
	color: white;
	overflow: scroll;
	padding-bottom: 7%;
}

.playlist-img {
	height: 225px;
	width: 225px;
	margin: 20px;
	float: left;
}

.playlist-header h2, .playlist-header h3, .playlist-header h4 {
	display: block;
	border: none;
}
.playlist-header h2 {
	margin: 8px 5px;
}

.playlist-header h3 {
	text-align: left;
	margin: 0;
	font-family: 'Roboto';
	font-size: 1em;
}

.playlist-header h4 {
	padding: 3em 0 0 0;
	color: #4c4c4c;
	margin: 0;
	font-weight: 700;
	font-size: .8em;
}

.playlist-header button {
	padding: .5em 1em;
	border-radius: 2em;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: #00c2b2;
	color: #004741;
	font-family: 'Roboto';
	font-size: .9em;
	margin-right: 10px;
	margin-top: 10px;
}

#export-spotify-btn {
	background-color: #618e2b;
	color: white;
}

.playlist-wrapper {
	display: block;
	clear: both;
}

caption {
	text-align: left;
	margin: 0px 2em;
	color: #4c4c4c;
	font-weight: 400;
	font-size: .9em;
}


.row td {
	text-align: center;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	padding: 10px;
	margin: 5px;
	border-bottom: 1px solid #4c4c4c;
}

.song-row td a{
	color: white;
	font-size: 1em;
}

.thread-row td {
	color: #4c4c4c;
	font-weight: 700;
	font-size: .9em;
}

/*create playlist modal styling*/

#create-playlist-modal {
	background-color: black;
	color: white;
	font-family: "Roboto", sans-serif;
	height: 90%;

}

#create-playlist-modal p {
	text-align: center;
	font-size: 1em;
}

#create-playlist-modal h5 {
	text-align: center;
	font-size: 1em;
	margin-top:10px;
}

input[type="number"], input[type="text"] {
	margin: 10px 25%;
	outline: none;
	border-radius: 1em;
	border: none;
	padding: 5px;
	text-align: center;
	width: 50%;
	font-family: "Roboto", sans-serif;
}


.dropdown {
    cursor: pointer;
}

#modal-pace-dropdown, #modal-genre-dropdown {
	float: none;
	margin: 10px 25%;
}


.validation-warning-mask {
	display: none;
}

#validation-warning {
	color: #00c2b2;
}

#generate-playlist {
	background-color: #00c2b2;
	color: white;
	border-radius: 2em;
	width: 70%;
	margin: 15px 15%;
	padding: 5px;
	font-weight: 300;
	font-size: 1em;
	outline: none;
	border: none;
	cursor: pointer;
}

